In [1]:
# import xlsxwriter
import pylightxl as xl
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pickle
# from sklearn.preprocessing import MinMaxScaler

In [2]:
# readxl returns a pylightxl database that holds all worksheets and its data
db = xl.readxl(fn='SPX_train_0.xlsx')

In [3]:
db.ws_names

['Sheet1']

In [4]:
db.ws(ws='Sheet1').row(row=1)

['Time',
 'Returns',
 'dp',
 'dy',
 'ep',
 'de',
 'svar',
 'bm',
 'ntis',
 'tbl',
 'lty',
 'ltr',
 'tms',
 'dfy',
 'dfr',
 'infl']

In [5]:
file_rows = []

for row in db.ws(ws='Sheet1').rows:
       file_rows.append(row)

In [6]:
df = pd.DataFrame(file_rows[1:])
df.columns = file_rows[0]
df.head()

,Time,Returns,dp,dy,ep,de,svar,bm,ntis,tbl,lty,ltr,tms,dfy,dfr,infl
0,1945-01,1,-3.041609,-3.027403,-2.662340,-0.379269,0.000924,0.735342,0.016454,0.0038,0.0240,0.0127,0.0202,0.0077,-0.0051,0.000000
1,1945-02,0,-3.096132,-3.036338,-2.711553,-0.384579,0.000655,0.704489,0.014836,0.0038,0.0236,0.0077,0.0198,0.0076,-0.0031,0.000000
2,1945-03,1,-3.043790,-3.091042,-2.653829,-0.389961,0.001887,0.767883,0.015963,0.0038,0.0236,0.0021,0.0198,0.0076,-0.0003,0.000000
3,1945-04,1,-3.128109,-3.043790,-2.724389,-0.403720,0.001398,0.715063,0.015086,0.0038,0.0228,0.0160,0.0190,0.0075,-0.0142,0.000000
4,1945-05,0,-3.139500,-3.128109,-2.722106,-0.417394,0.000921,0.702911,0.019773,0.0038,0.0226,0.0056,0.0188,0.0070,-0.0067,0.005618

In [7]:
X = df.drop(columns=["Time","Returns"])
X

,dp,dy,ep,de,svar,bm,ntis,tbl,lty,ltr,tms,dfy,dfr,infl
0,-3.041609,-3.027403,-2.662340,-0.379269,0.000924,0.735342,0.016454,0.0038,0.0240,0.0127,0.0202,0.0077,-0.0051,0.000000
1,-3.096132,-3.036338,-2.711553,-0.384579,0.000655,0.704489,0.014836,0.0038,0.0236,0.0077,0.0198,0.0076,-0.0031,0.000000
2,-3.043790,-3.091042,-2.653829,-0.389961,0.001887,0.767883,0.015963,0.0038,0.0236,0.0021,0.0198,0.0076,-0.0003,0.000000
3,-3.128109,-3.043790,-2.724389,-0.403720,0.001398,0.715063,0.015086,0.0038,0.0228,0.0160,0.0190,0.0075,-0.0142,0.000000
4,-3.139500,-3.128109,-2.722106,-0.417394,0.000921,0.702911,0.019773,0.0038,0.0226,0.0056,0.0188,0.0070,-0.0067,0.005618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,-3.966309,-3.953266,-3.098391,-0.867918,0.000594,0.233834,-0.012703,0.0210,0.0206,0.0024,-0.0004,0.0099,0.0060,0.001671
895,-3.941330,-3.959587,-3.086025,-0.855304,0.004318,0.237917,-0.010244,0.0195,0.0163,0.0797,-0.0032,0.0089,-0.0059,-0.000051
896,-3.951689,-3.934654,-3.108987,-0.842702,0.000605,0.233377,-0.010959,0.0189,0.0170,-0.0192,-0.0019,0.0088,0.0002,0.000783
897,-3.965984,-3.945758,-3.112869,-0.853115,0.001510,0.232261,-0.013267,0.0165,0.0171,-0.0052,0.0006,0.0091,0.0058,0.002286
898,-3.993568,-3.960087,-3.130267,-0.863300,0.000306,0.223938,-0.007907,0.0154,0.0181,-0.0059,0.0027,0.0088,0.0073,-0.000536

cols = X.columns
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
X_df = pd.DataFrame(X)
X_df.columns = cols
X_df["Returns"] = df["Returns"]
X_df

corr_df = X_df.corr()
corr_df

returns = corr_df["Returns"]
returns

returns = returns[:-1]
percent_corr = returns[abs(returns) > 0.02]

percent_corr

In [8]:
# X = df[[c for c in df.columns if c in percent_corr]]
# X.drop(columns=["Time","Returns"],inplace=True)
# X = X_df.drop(columns=["Returns"])
y = df["Returns"]

In [9]:
X.columns

Index(['dp', 'dy', 'ep', 'de', 'svar', 'bm', 'ntis', 'tbl', 'lty', 'ltr',
       'tms', 'dfy', 'dfr', 'infl'],
      dtype='object')

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.05)

In [11]:
lr = LogisticRegression()

lr.fit(X_train, y_train)

LogisticRegression()

In [12]:
y_pred = lr.predict(X_test)

In [13]:
y_pred

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0])

In [14]:
y_test.reset_index(drop=True, inplace=True)

In [15]:
df_pred = pd.DataFrame({"y_pred": y_pred})
# df_pred["y_pred"] = y_pred
df_pred["y_test"] = y_test

In [16]:
print(df_pred[y_test==1].sum())

y_pred    21
y_test    25
dtype: int64

In [17]:
confusion_matrix(y_test, y_pred)

array([[ 3, 17],
       [ 4, 21]])

In [18]:
filename = "predict_now.sav"
pickle.dump(lr, open(filename, 'wb'))